$colour-primary: #6f6282;
$colour-secondary: #ffffff;
$colour-accent: #acb6b3;
$colour-white: #fff;
$colour-invalid: #db464b;

$heading-shadow-size: 0.55rem;
$layout-margin: 1rem;

$grid-gutter: $layout-margin * 0.25;


$start : flex-start;
$center : center;
