$colour-primary: #9784b9;
$colour-secondary: #ffffff;
$colour-accent: #295e51;
$colour-white: #fff;
$colour-invalid: #db464b;

$heading-shadow-size: 0.25rem;
$layout-margin: 1rem;

$grid-gutter: $layout-margin * 0.25;
